@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Playfair+Display&display=swap');


/*GLOBAL*/
body {
    padding-top: 5rem;

}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Playfair Display', serif;
}


main {
    padding: 20px;
}
main.container-fluid {
    width: 50%;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
}

nav {
    margin-bottom: 120px;
}

.navbar-brand {
    margin-left: 20px;
}

button.navbar-toggler{
margin-right: 10px;
}

.home_2col {
    margin-bottom: 20px;
}

img.dibley {
    max-width: 100%
}

.dibley {
  border: 5px solid #2c3e50; /* Thickness, Style, and Color */
  padding: 5px;             /* Optional: adds space between the image and border */
}

.bg-light-beige {
  background-color: #edede9;
}
